body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

.app {
    max-width: 414px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.user-info {
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.notification-container {
    background-color: #333;
    border-radius: 20%;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification-icon {
    width: 24px;
    height: 24px;
}

.search-bar {
    position: relative;
    margin: 10px 40px 10px 10px;
    display: flex; /* Usar flexbox para alinear la imagen y el input */
    align-items: center; /* Centra verticalmente los elementos */
}

.search-bar input {
    width: 100%;
    padding: 20px 15px 20px 45px; /* Ajustar el padding para dar espacio a la lupa */
    border-radius: 10px;
    border: 1px solid #333;
    background-color: #222;
    color: #fff;
}

.search-icon {
    position: absolute;
    left: 15px; /* Ajustar la posición de la lupa dentro del input */
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
}


main {
    flex-grow: 1;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.section-header a {
    color: red;
    text-decoration: none;
}

.movie-carousel {
    display: flex;
    overflow-x: auto;
    gap: 15px;
    margin-bottom: 10px;
}

.movie-poster {
    min-width: 120px;
}

.movie-poster img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-bottom: 20px;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: #fff;
    border-radius: 50%;
    transition: width 0.3s;
}

.dot.active {
    width: 70px; /* Ancho del punto activo */
    height: 7px;
    border-radius: 15%;
    background-color: red; /* Color rojo para el punto activo */
}


.dot:first-child {
    background-color: red;
}

.coming-soon-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.coming-soon-item img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 15px;
}

.app-footer {
    position: fixed; /* Fijar el footer en la parte inferior */
    bottom: 0; /* Alinea el footer en la parte inferior */
    left: 0; /* Alinea a la izquierda */
    right: 0; /* Alinea a la derecha */
    margin-top: auto; /* Mantiene el margen superior automático */
    z-index: 10;
}

.app-footer nav {
    display: flex;
    justify-content: space-around;
    background-color: #111;
    padding: 15px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.app-footer button {
    background: none;
    border: none;
    color: #555;
    cursor: pointer;
    padding: 10px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app-footer button img {
    width: 44px;
    height: 44px;
    margin-bottom: 5px;
}

.app-footer button.active {
    color: red;
}

.app-footer button.active img {
    color: red;
}
